#menuVertical{
    display: block;
    width: 100%;
    background-color: #3D3D3D;  
}
#links{
    width:30%;
    display: flex;
    color: #FF8C00;
    margin: 0 auto;
}
.link{
    padding-right: 1rem;
    margin: 0 auto;
    cursor: pointer;
}

#menuVertical .link:hover {
    color: white;
}